.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.formInput {
  width: 100%;
  all: unset;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin: 15px 0px;
  border-radius: 5px;
  color: #fff;
}
.grb {
  width: 170px;
}
.btn {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0) !important;
  color: #095b48 !important;
  padding: 10px 50px !important;
  border: 1px solid #095b48 !important;
  border-radius: 25px !important;
  font-family: ps;
  transition: 0.5s all ease-in-out;
  width: 100%;
}
.btn:hover {
  background-color: #095b48 !important;
  color: #fff !important;
}
.arrowIcon {
  margin-left: 15px;
}
.passwordreset {
  float: right;
  color: #fff;
  font-size: 16px;
}
.bg {
  background-image: url("../../assets/Img/ellipse.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 30%;
}
.loginIcons {
  top: 25px;
  left: 10px;
  position: absolute;
  filter: invert(98%) sepia(0%) saturate(7480%) hue-rotate(79deg)
    brightness(103%) contrast(100%);
}
.invalidP{
    color: #e74c3c;
    padding: 0;
    margin: 0px;
}
.invalid {
  border: 1px solid #e74c3c !important;
}
@media (max-width: 800px) {
  .bg {
    background-size: 0;
  }
}
