.categoryName {
  position: absolute;
  z-index: -1;
  color: rgba(255, 255, 255, 0.2);
  font-size: 10em;
  font-family: rpl;
}
.row{
  padding-top: 200px;
}
.wrapper{
  margin-top: 50px;
  margin-bottom: 100px;
}
@media(max-width: 576px) {
  .categoryName {
    /* padding-right: 30px !important;  */
    font-size: 85px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width:380px;
  }
}
