.itemName {
  position: absolute;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  bottom: 0;
  z-index: 100;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  background-color: #0505056c;
}
.name {
  display: inline-flex;
}
.imageHolder {
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}
.imageHolder img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.imageHolder img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.layer {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: linear-gradient(#ffffff00, #ffffffef);
}
.hero {
  position: absolute;
  z-index: 10;
  bottom: 0;
}
.text{
  margin-bottom: 6px !important;
  margin-top: 10px;
}
.text span{
  margin-left: 5px;
  font-weight: 400;
}
