.content {
  background-color: #fff;
  height: calc(100vh - 80px);
  padding: 0 !important;
  overflow: hidden;
}
.btn {
  all: unset;
  background-color: #101010;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  text-align: center;
}
.heading p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px !important;
}
.heading button img {
  margin-right: 5px;
}
.tabela {
  color: #101010 !important;
  font-size: 18px;
  text-align: center;
}
.thead th {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  vertical-align: middle;
}
.tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.151) !important;
  padding: 20px !important;
}
.tbody td {
  border: 0px solid transparent;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  vertical-align: middle;
}
.dropdown {
  all: unset !important;
}
.dropdown:focus {
  outline: none !important;
  box-shadow: none !important;
}
.dots {
  width: 100% !important;
  text-align: center !important;
  font-size: 25px !important;
  color: #dddddd;
}
.ddtitle {
  all: unset !important;
  margin-left: 15px !important;
  color: #095b48 !important;
}
.imagePreview {
  aspect-ratio: 1/1;
  width: 70px;
}
.imagePreview img {
  text-align: center;
  width: 100%;
}
.picon {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(241deg)
    brightness(107%) contrast(101%);
  margin-right: 5px;
}
.location {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 5px;
  height: 1.2em;
  white-space: nowrap;
}
/* .btn {
  all: unset !important;
  padding: 7px 25px !important;
  border-radius: 5px !important;
  background-color: #095b48 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover{
  cursor: pointer !important;
} */
