.content {
  background-color: #fff;
  height: calc(100vh - 80px);
  padding: 0 !important;
}
.btn {
  all: unset;
  background-color: #101010;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  text-align: center;
}
.heading p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px !important;
}
.heading button img {
  margin-right: 5px;
}
