.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.068);
    padding-left: 40px !important;
    /* margin-top: 80px; */
    padding-top: 2rem;
    display: flex;
    position: sticky;
    flex-direction: column;
    height: calc(100vh - 80px);
}
.nlink{
    color: #101010 !important;
    font-size: 18px;
    padding: 15px 0px !important;
}
.navLink{
    all: unset;
    color: #101010 !important;
    font-size: 18px;
    padding: 15px 0px !important;
}
.navLink:hover{
    cursor: pointer;
}
.Active{
    all: unset;
    color: #101010 !important;
    font-size: 18px;
    padding: 15px 0px !important;
    font-weight: 700;
}
.Active:hover{
    cursor: pointer;
}
.nlink img{
    margin-right: 10px;
}
.wrapper{
    margin-left: 20px;
}
.manage{
    font-size: 18px;
}
.icon{
    margin-right: 8px;
}
