.div{
    /* margin-top: 100px; */
    z-index: 50;
    width: 100%;
}
.news {
  margin-top: 90px !important;
}
.swiper{
  height: 100%;
}

.news-card-2 {
  height: 400px;
  /* background-image: url("img/news/img2.png"); */
  background-position: center;
  background-size: cover;
}
