.wrapper{
    margin-top: 20px;
    border-top: 1px solid #c4c4c441;
}
.bg{
    padding-top: 10px;
    background-color: #0a0a0a;
}
.crInfo{
    color: white;
    display: flex;
    justify-content: space-between;
}
.crInfo p{
    margin-top: 20px;
    font-weight: 700;
}
.crInfo p span{
    font-weight: 400;
}
.crLogo{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.crLogo p{
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: white;
}
.crColor {
    background-color: #095B48;
    height: 25px;
    width: 100%;
}