.upload {
  max-width: 40%;
}
.uploadText {
  font-size: 23px;
  font-weight: 700;
  line-height: 0.5;
}
.uploadInfo {
  font-size: 15px;
  line-height: 0.2;
}

.dropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fileDisplayContainer {
  width: 900px;
}
.fileInput{
  display: none;
}
.fileStatusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 50px;
  height: 50px;
}
.fileStatusBar > div {
  overflow: hidden;
}
.fileType {
  display: inline-block !important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #095b48;
  text-transform: uppercase;
}
.fileName {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #095b48;
}
.fileError {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #9aa9bb;
}
.fileErrorMessage {
  color: red;
}
.fileTypeLogo {
  width: 50px;
  height: 50px;
  background: url(../../assets/Img/generic.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
}
.fileSize {
  display: inline-block;
  vertical-align: top;
  color: #095b48;
  margin-left: 10px;
  margin-right: 5px;
  margin-left: 10px;
  color: #444242;
  font-weight: 700;
  font-size: 14px;
}
.fileRemove {
  line-height: 15px;
  cursor: pointer;
  color: red;
  margin-right: 500px;
}
.fileUploadBtn {
  all: unset;
  border-radius: 5px;
  color: white;
  outline: none;
  background-color: #095b48;
  font-weight: bold;
  padding: 8px 19px;
  margin-bottom: 5px;
}

.progressContainer {
  display: none;
  position: relative;
  overflow: hidden;
}

.progressContainer span {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
}

.progress {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #efefef;
  height: 20px;
  border-radius: 5px;
}

.progressBar {
  position: absolute;
  background-color: #4aa1f3;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.error {
  color: red;
}
