.btn {
  all: unset !important;
  padding: 7px 10px !important;
  border-radius: 5px !important;
  background-color: #095b48 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.gray{
  background-color: #797979 !important;
}
