.btn {
  all: unset !important;
  padding: 7px 10px !important;
  border-radius: 5px !important;
  background-color: #095b48 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.gray{
  background-color: #797979 !important;
}
.datetime {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  border: 1px solid rgba(2, 2, 2, 0.199);
  border-radius: 3px;
}
