body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ps !important;
  overflow-x: hidden;
  background-color: #0a0a0a !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.swiper-button-next {
  z-index: 100;
  background-image: url(./arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev {
  z-index: 100;
  background-image: url(./arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg);
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

:root {
  --toastify-color-success: #095B48 !important;
}

@font-face {
  font-family: "Rpl";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/RPL-Regular.ttf");
}

@font-face {
  font-family: "ps";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/ProductSansRegular.ttf");
}
@font-face {
  font-family: "ps";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Product\ Sans\ Bold.ttf");
}

