.wrapper {
  margin-top: 100px;
}
.box {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #363636;
  border-radius: 20px;
  margin-top: 10px;
}
.title {
    margin-top: 10px;
  font-size: 35px;
  color: #fff;
}
.price {
  line-height: 0.5;
  font-size: 25px;
  color: #fff;
}
