.countdown {
  margin-top: 90px !important;
  /* border-radius: 10px; */
  height: 80px;
  background-color: rgb(255, 255, 255);
}
.cdTimer {
  text-align: center;
}
.cdTimer p {
  line-height: 0.8;
  padding: 0 ;
  margin: 0 !important;
}
.cdContent {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nm{
  font-size: 20px;
}
.d{
  font-size: 16px;
  font-family: ps;
  padding: 5px !important;
}
.cdLogo {
  padding-left: 20px;
}
.cdNametag p {
  padding-top: 18px;
  font-size: 30px;
}
.demo {
  line-height: 1;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: rpl;
  font-size: 40px;
}
.grb{
  width: 70px;
}
